@import "./variables.scss";

* {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat";
  background-color: var(--bc);
  color: white;

  .colors {
    background: transparent;
    position: absolute;
    bottom: 10px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    img {
      width: 25px;
      margin-right: 15px;
      cursor: pointer;
    }
    span {
      width: 15px;
      height: 15px;
      margin: 0 7px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.blue {
  @include grad($blue1, $blue2);
}
.gold {
  background: linear-gradient(270deg, $gold1, $gold2);
}
.pink {
  background: linear-gradient(270deg, $pink1, $pink2);
}

.light {
  --mode: "light";
}

.b {
  $color: b;
}
.g {
  $color: g;
}
.p {
  $color: p;
}
