#root {
  --blue1: #00a2ff;
  --blue2: #0059ff;
  --blue3: #00a2ff70;
  --gold1: #eeff00;
  --gold2: #ffbb00;
  --gold3: #eeff0071;
  --pink1: #fa4ee3;
  --pink2: #ff00bf;
  --pink3: #e100ff75;
  --black: #2b2a2a;
  --white: #4b4a4a36;
}

$blue1: #00a2ff;
$blue2: #0059ff;
$gold1: #eeff00;
$gold2: #ffbb00;
$pink1: #e100ff;
$pink2: #ff00dd;
$black: #1d1d1d;

$color: b;
$mode: dark;

$true: true;

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: center;
}

@mixin grid {
  display: grid;
  place-content: center;
}

@mixin grad($col1, $col2) {
  background: linear-gradient(120deg, $col1, $col2);
}

@mixin button {
  button {
    width: 120px;
    height: 35px;
    font-weight: bold;
    font-size: small;
    background: linear-gradient(120deg, var(--col1), var(--col2));
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    color: var(--bc);
    z-index: 20;
  }
  button:hover {
    width: 100%;
    border-radius: 10px;
  }
}
