@import "../variables.scss";
@import "./Home.scss";

.detail::-webkit-scrollbar {
  display: none;
}

.main {
  .d-main {
    width: 70vw;
    height: max-content;
    margin: auto;
    @include grid;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--bc) !important;
    background: radial-gradient(var(--col3), var(--bc));
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 3px 15px 0px var(--bs);
    margin: 50px 0;
    color: var(--tc);

    .dm-title {
      margin: 30px;

      h5 {
        font-size: larger;
        font-weight: bolder;
        margin: 2px;
      }
      p {
        font-size: small;
      }
      img {
        padding: 2px 4px 4px 4px;
        width: 30px;
        height: 30px;
        background: linear-gradient(120deg, var(--col1), var(--col2));
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .dm-img {
      border-radius: 50%;
      background: linear-gradient(120deg, var(--col1), var(--col2));
      position: relative;
      overflow: visible;
      @include grid;
      margin: 50px;

      p {
        position: absolute;
        width: 260px;
        height: 150px;
        @include grid;
        font-size: 70px;
        font-family: fantasy;
        letter-spacing: 2px;
        opacity: 0.1;
        color: var(--bc);
        overflow: hidden;
        white-space: nowrap;
      }
      img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        padding: 30px;
        filter: drop-shadow(5px 15px 5px rgba(47, 48, 48, 0.596));
      }
    }
    .dm-img::before {
      content: "";
      position: absolute;
      width: 290px;
      height: 290px;
      border-radius: 50%;
      border-top: 2px solid var(--col1);
      border-bottom: 2px solid var(--col1);
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      margin: -15px;
    }

    .dm-detail {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: small;
        font-weight: bolder;
      }
      select {
        margin: 15px;
        width: 50px;
        height: 35px;
        background: transparent;
        border-radius: 10px;
        border: 2px solid var(--col2);
        color: var(--col1);
      }
      div {
        display: flex;
        align-items: center;
      }
      .dm-btns {
        button {
          width: 120px;
          margin: 15px;
          background: linear-gradient(120deg, var(--col1), var(--col2));
          height: 35px;
          border-radius: 20px;
          border: none;
          font-weight: bold;
          cursor: pointer;
          font-size: small;
          transition: all 0.2s ease-in-out;
        }
        button:hover {
          border-radius: 10px;
        }
        h5 {
          font-size: smaller;
          font-weight: bold;
          color: var(--col2);
          padding: 7px;
          border: 2px solid var(--col2);
          border-radius: 5px;
          margin: 0;
          cursor: pointer;
        }
      }
      p {
        position: absolute;
        bottom: 50px;
        right: 0px;
        padding: 10px;
        background: linear-gradient(120deg, var(--col1), var(--col2));
        color: var(--bc);
        font-weight: bold;
        transform: rotate(-90deg);
        margin-right: -20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .oos {
      color: red;
      margin: 15px;
      font-weight: bold;
    }
  }
}

@media (min-width: 700px) {
  .detail {
    .d-main > div {
      flex: 0.3;
    }
  }
}
