.main::-webkit-scrollbar {
  display: none;
}

.main {
  margin-top: 60px;
  padding-top: 90px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 150px);

  .prod {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 15px;
    border-radius: 35px;
    background: radial-gradient(var(--col1) -40%, var(--bc3));
    position: relative;
    box-shadow: 0 3px 15px 0 var(--bs);
    overflow: hidden;

    .p-head {
      width: 100%;
      justify-content: flex-start;

      img {
        width: 25px;
        padding: 5px;
        border-radius: 50%;
      }
    }

    .p-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;

      .pc-img {
        width: 120px;
        height: 120px;
        margin: 30px 60px;
        display: grid;
        place-content: center;
        border-radius: 50%;
        background: linear-gradient(270deg, var(--col1), var(--col2));
        overflow: visible;
        img {
          width: 120px;
          height: 160px;
          object-fit: contain;
          position: relative;
          filter: drop-shadow(5px 15px 10px rgba(39, 39, 39, 0.493));
        }
      }

      p {
        font-size: small;
      }

      span {
        font-size: smaller;
      }
    }

    .add {
      width: 30px;
      padding: 15px 25px 25px 15px;
      position: absolute;
      bottom: -10px;
      right: -10px;
      border-radius: 50%;
      background: linear-gradient(120deg, var(--bc2), var(--bc3));
      cursor: pointer;
      box-shadow: 3px 0 15px 0 rgba(0, 0, 116, 0.438);
    }
  }
}
